.janet {
    text-align: right;
}
/* li a{ */
    /* gap: 20px; */
    /* padding-right: 20px; */
/* } */
li a{
    gap: 20px;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(123, 9, 9);
    font-weight: bolder;
    padding: 5px;

}
li a:hover{
    background-color: brown;
    border-radius: 5px;
    height: 30px;
    width: 60px;
    color: antiquewhite;
}
body{
    background-color: blanchedalmond;
    padding-left: 50px;
}
.hil {
    display: flex;
    border: solid 3px;
    margin-right: 100px;
    box-shadow: 0 0 28px brown;
    padding-bottom: 20px;
    height: 50%;
}
img {
    box-shadow: 0 0 20px brown;
}